* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    min-width: 300px;
    min-height: 200px;
    /* border: 1px solid lightgray; */
    background-color: #ebecf0;
    padding: 20px 10px;
    border-radius: 12px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.board-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.board-title input {
    border: none;
    background-color: transparent;
}

.item {
    width: 100%;
    /*border-bottom: 1px solid gray;*/
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px;
    /*border-radius: 6px;*/
    margin: 5px 0;
    /*background-color: #fcfcf9;*/
}

.add-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
}